.hero
    margin-bottom: 80px
    &__logo
        height: 100px
        display: flex
        justify-content: space-between
        align-items: center

    &__img
        width: 150px
        height: 100px
    &__cv
        font-size: 45px
        color: #ffffff
    &__author
        display: flex
        justify-content: space-between
    &__name
        display: flex
        flex-direction: column
        justify-content: center
        width: 80%
        border-top: 4px solid #2164f3
        border-bottom: 4px solid #2164f3
    &__avatar
        display: flex
        justify-content: center
    &__avatar-img
        width: 150px
        height: 150px
        border-radius: 50%
        border: 5px solid #2164f3
.header
    height: 100px
    background-color: rgb(33, 100, 243)
    margin-bottom: 60px
.title
    text-align: center
    font-size: 60px
    margin-bottom: 30px
    