section.experience
    .container.experience__container
        h1.title.experience__title Experience
        ul.experience__list
            li.experience__item
                .experience__name Airplanet
                .experience__hub
                    .experience__github
                        a(href="https://github.com/kozyritskiy/kozyritskiy.github.io/tree/master/airplanet" target="_blank").experience__link GitHub Code
                    .experience__github-pages
                        a(href="https://kozyritskiy.github.io/airplanet/index.html" target="_blank").experience__link GitHub Page
            li.experience__item
                .experience__name Burger shop
                .experience__hub
                    .experience__github
                        a(href="https://github.com/kozyritskiy/burger-shop/tree/master/project" target="_blank").experience__link GitHub Code
                    .experience__github-pages
                        a(href="https://kozyritskiy.github.io/burger-shop/project/build/index.html" target="_blank").experience__link GitHub Page
            li.experience__item
                .experience__name Night
                .experience__hub
                    .experience__github
                        a(href="https://github.com/kozyritskiy/loftschool-level-3" target="_blank").experience__link GitHub Code
                    .experience__github-pages
                        a(href="https://kozyritskiy.github.io/loftschool-level-3/dist/index.html" target="_blank").experience__link GitHub Page
            li.experience__item
                .experience__name Personal trainer
                .experience__hub
                    .experience__github
                        a(href="https://github.com/kozyritskiy/personal-trainer" target="_blank").experience__link GitHub Code
                    .experience__github-pages
                        a(href="https://kozyritskiy.github.io/personal-trainer/dist/index.html" target="_blank").experience__link GitHub Page