footer.footer
    .container.footer__container
        .footer__logo
            img.footer__logo-img(src="./img/logo_rs_text.svg", alt="logo")
        .contacts
            .contacts__title Follow me:
            .icons
                ul.icons__list
                    li.icons__item
                        a(href="https://vk.com/id472447424" target="_blank").icons__link.icons__link_vk
                            img.icons__img(src="./img/skills/vk.png", alt="vk")
                    li.icons__item
                        a(href="@StewieOne" target="_blank").icons__link.icons__link_tg
                            img.icons__img(src="./img/skills/tg.png", alt="tg")
                    li.icons__item
                        a(href="https://github.com/kozyritskiy" target="_blank").icons__link.icons__link_gh 
                            img.icons__img(src="./img/skills/gh1.png", alt="gh")