section.hero
    header.header
        .container
            .hero__logo
                img.hero__logo-img(src="./img/logo_rs_text.svg", alt="logo")
                .hero__glitch
                    .hero__cv Front End Developer CV
                    .hero__cv Front End Developer CV
                    .hero__cv Front End Developer CV
    .hero__content
        .container
            .hero__author
                .hero__name
                    .hero__first-name Maxim
                    .hero__last-name Kozyritsky
                .hero__avatar
                    img.hero__avatar-img(src="./img/user/me.jpg", alt="logo")