section.objective
    .container.objective__container
        h1.objective__title.title Objective
        .objective__desc Hi, I'm Max. I like to deprive my brain of virginity by means of writing JavaScript code. I expect to get the eighth dan at Rolling Scopes school in writing code. And in the end I wanted to say that I really want to dump from the factory.