section.skills
    .container.skills__container
        h1.skills__title.title Common Skills
        ul.skills__list
            li.skills__item
                .skills__name HTML
                .skills__icon
                    img.skills__img(src="./img/skills/html.png", alt="logo")
            li.skills__item
                .skills__name CSS
                .skills__icon
                    img.skills__img(src="./img/skills/css.png", alt="logo")
            li.skills__item
                .skills__name JavaScript
                .skills__icon
                    img.skills__img(src="./img/skills/js.png", alt="logo")
            li.skills__item
                .skills__name Node.js
                .skills__icon
                    img.skills__img(src="./img/skills/node.png", alt="logo")
            li.skills__item
                .skills__name Command Line
                .skills__icon
                    img.skills__img(src="./img/skills/terminal.png", alt="logo")
            li.skills__item
                .skills__name Git
                .skills__icon
                    img.skills__img(src="./img/skills/git.png", alt="logo")
            li.skills__item
                .skills__name Sass
                .skills__icon
                    img.skills__img(src="./img/skills/sass.png", alt="logo")
            li.skills__item
                .skills__name Automation
                .skills__icon
                    img.skills__img(src="./img/skills/gulp.png", alt="logo")
            li.skills__item
                .skills__name Linux
                .skills__icon
                    img.skills__img(src="./img/skills/linux.png", alt="logo")